/*  your css code here. If applicable */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 20px;
	 
}

.red, .green, .yellow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.red {
    background-color: darkred;
}

.green {
    background-color: darkgreen;
}

.yellow {
    background-color: #8B8000;
}